<div class="container text-center d-flex justify-content-center">
  <form (ngSubmit)="onSubmit()">
    <div class="input-group mb-3 col">
      <p>
        <label class="form-label" for="initial-investement"
          >Initial Investment</label
        >
        <input
          class="form-control"
          id="initial-investement"
          name="initial-investement"
          type="number"
          [(ngModel)]="enteredInitialInvestment"
        />
      </p>
      <p>
        <label class="form-label" for="annual-investment"
          >Annual Investment</label
        >
        <input
          class="form-control"
          id="annual-investment"
          name="annual-investment"
          type="number"
          [(ngModel)]="enteredAnnualInvestments"
        />
      </p>
    </div>
    <div class="input-group mb-3 col">
      <p>
        <label class="form-label" for="expected-return"
          >Expected Return Rate</label
        >
        <input
          class="form-control"
          id="expected-return"
          name="expected-return"
          type="number"
          [(ngModel)]="enteredExpectedReturn"
        />
      </p>
      <p>
        <label class="form-label" for="duration">Duration</label>
        <input
          class="form-control"
          id="duration"
          name="duration"
          type="number"
          [(ngModel)]="enteredDuration"
        />
      </p>
    </div>
    <p class="row">
      <button class="btn btn-primary btn-block">Calculate</button>
    </p>
  </form>
</div>
