<div class="container text-center d-flex justify-content-center">
  <form>
    <div class="input-group mb-3">
      <p>
        <label class="form-label" for="initial-investement"
          >Initial Investment</label
        >
        <input class="form-control" id="initial-investement" type="number" />
      </p>
      <p>
        <label class="form-label" for="annual-investment"
          >Annual Investment</label
        >
        <input class="form-control" id="annual-investment" type="number" />
      </p>
    </div>
    <div class="input-group mb-3">
      <p>
        <label class="form-label" for="expected-return"
          >Expected Return Rate</label
        >
        <input class="form-control" id="expected-return" type="number" />
      </p>
      <p>
        <label class="form-label" for="duration">Duration</label>
        <input class="form-control" id="duration" type="number" />
      </p>
    </div>
    <p>
      <input class="btn btn-primary" type="submit" value="Calculate"/>
    </p>
  </form>
</div>
